.App {
  text-align: center;
}

.html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#myDiv{
  flex :1;
}

.canvas {
  flex: 1;
}
